---
layout: page
title: "Senators"
description: "Current (2016-2017) Senators"
header-img: "img/home-bg.jpg"
---
<hr>
<h1>Class of 2017 – Senior Senators</h1>
Vanessa Zhang, 
Caleb Ng, 
Catherine Wang, 
Christi Lee, 
Sophia Zhang, 
Marertu Girma, 
Kevin Wu, 
Courtney Zang, 
Allen Xu, 
Alfred Joseph, 
<hr>
<h1>Class of 2018 – Junior Senators</h1>
Sophie Chong, 
Daniel Ko, 
Jeongwook Yi, 
Azalea Yunus, 
Richie McNamara, 
Lily Mcguire-Eggleston, 
Darsan Swaroop-Bellie, 
Derik Kauffman, 
Emily Berman,
Avery Gehring,
Patrick Nie
<hr>
<h1>Class of 2019 – Sophomore Senators</h1>
Joy Zhou, 
Emily Chen, 
Janet Mariadoss, 
Tony Kim, 
Beverly Liu, 
Oliver Rourke, 
Kevin Zhou, 
Lucas Dicerbo, 
Yoojee Kim, 
Prithul Sen, 
Emilia Sjodin
<hr>
<h1>Class of 2020 – Freshman Senators</h1>
Keena Gao, 
David Cai, 
Victor Chen, 
Caroline Li, 
Andrew Shen, 
Julia Wu, 
Aditi Mannem, 
Ashlan Ahmed, 
Rayland Ahmed, 
Jyothsna Bolleddula, 
Elizabeth Ding
<!--
{% for member in site.data.members %} {% if member.visible == true %}

	<img src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width:150px !important">
	
	<h1>{{ member.name }}</h1>
	
	<h2>{{ member.role }}</h2>
	
	{% if member.github %} 
	<span class="social-share-googleplus"><a href="https://github.com/{{ member.github }}" title="Github"><img src="{{ "/img/icons/github-icon.png" | prepend: site.baseurl }}" style="height:20px">Github</a></span> 
	{% endif %}
	{% if member.gplus %}
	<span class="social-share-googleplus"><a href="{{ member.gplus }}" title="Google Plus"><img src="{{ "/img/icons/gplus-icon.png" | prepend: site.baseurl }}" style="height:20px">Google Plus</a></span>
	{% endif %}
	{% if member.url %}
	<span class="social-share-googleplus"><a href="{{ member.url }}" title="Google Plus"><img src="{{ "/img/icons/url-icon.png"| prepend: site.baseurl }}" style="height:20px">Website</a></span>
	{% endif %}
	
	</br>

	{% if member.bio %} 
	{{ member.bio }}
	{% endif %}
	
	<hr>
{% endif %}{% endfor %}
-->

