---
layout: page
---
{% for b in site.posts %}
{% if b.category == page.category %}
<div class="post-preview">
    <a href="{{ b.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ b.title }}
        </h2>
        {% if b.summary %}
        <h3 class="post-subtitle">
            {{ b.summary }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta" style="margin-bottom:5px">Passed {{ b.passed }}</p>
	<div class="notepad-index-post-tags" style="">
		{% for tag in b.tags %}<a href="{{ site.baseurl }}/search/index.html#{{ tag | cgi_encode }}" title="Other posts from the {{ tag | capitalize }} tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
	</div>
</div>
<hr>
{% endif %}
{% endfor %}